<!doctype html>
<html class="no-js" lang="">
    //= parts/head.html
    <body class="contact">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        	your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="layout">
            //= parts/header.html

            <section class="section-top img-bg" id="map">
            </section>

            <section class="contact-info wow slideInUp">
                <div class="container">
                    <div class="contact-inner">
                        <div class="shell">
                            <div class="row">
                                <div class="col-sm-4 contact-title">
                                    <h1>Contact</h1>
                                </div>

                                <div class="col-sm-4 contact-address">
                                    ESD Systeemwanden B.V.<br>
                                    Industrieweg 20<br/>
                                    3133 EE Vlaardingen
                                </div>

                                <div class="col-sm-4 contact-data">
                                    <p class="contact-telephone"><a href="tel:0105010620"><i class="material-icons">phone</i> 010 - 501 06 20</a></p>
                                    <p class="contact-fax"><a href="fax:0105010620"><i class="fa fa-fax" aria-hidden="true"></i> 010 - 501 10 70</a></p>
                                    <p class="contact-email"><a href="mailto:info@esdsysteemwanden.nl"><i class="material-icons">email</i> info@esdsysteemwanden.nl</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="info-holder">
                <div class="shell">
                    <div class="row">
                        <div class="col-mb-12 col-xs-5 col-sm-6">
                            <div class="info">
                                <h5 class="info-name">Showroom</h5>
                            </div>
                        </div>
                        <div class="col-mb-12 col-xs-7 col-sm-6">
                            <div class="info-text">
                                <p>Ook bieden wij u de mogelijkheid om de wanden zelf te ervaren in onze showroom op Vlaardingen. Om u zo goed mogelijk van dienst te kunnen zijn, raden wij u aan om vooraf een afspraak in te plannen.</p>

                                <h6>Openingstijden showroom Vlaardingen</h6>
                                <p>In week 33 t/m 39 werken wij uitsluitend op afspraak in verband met het verbouwen van de showroom. Neem telefonisch contact met ons op of stuur ons een email.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact-form-name">
                <div class="shell">
                    <h5>Contact formulier</h5>
                </div>
            </section>


            //= parts/form.html

            
            <div class="both"></div>
        </div>
        //= parts/footer.html
    </body>
</html>