<!doctype html>
<html class="no-js" lang="">
    //= parts/head.html
    <body class="home splash-screen">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        	your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="layout">
            //= parts/header.html
            <section class="img-bg parallax section-top">
                <div class="image-top-paralax" style="background-image: url(static/images/splash.jpg);">
                    
                </div>
            </section>
            <div class="wrapper">
                <section class="top-new">
                    <div class="shell">
                        <div class="row">
                            <div class="col-mb-12 col-xs-5 col-sm-6">
                                <div class="top-new-head1">
                                    <p class="top-new-intro">Vintage puien voor binnen en buitenshuis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-xs-5 col-sm-6">
                                <div class="top-new-head2">
                                    <h5 class="top-new-name">Ga je voor een jaren 30 of industriële look?</h5>
                                </div>
                            </div>
                            <div class="col-mb-12 col-xs-7 col-sm-6">
                                <div class="top-new-text">
                                    <p>GewoonGers combineert de charme van toen met de technologie en service van nu. Zo gebruiken we voor onze producten glas en aluminium. Duurzaam én demontabel. Dus geen gedoe met transport. We zetten alles ter plekke in elkaar. Precies zoals jij het wilt. Dat geldt trouwens voor alles. Want ook de verhouding tussen glas en aluminium bepaal je zelf. De slanke profielen zijn zo aan te passen dat dat ze aansluiten bij ieder interieur. Klassiek en modern. Bestaande bouw en nieuwbouw. Zelf een idee? Vertel het ons!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                
                <section class="animateTop wow slideInUp">
                    <section class="advt-shell">
                        <div class="container">
                            <div class="advt">
                                <div class="shell">
                                    <h5 class="advt-name">“Hallo, wie is Gers?”</h5>
                                    <p>Gers is niet de naam van onze oprichter. Wél is het een veelgebruikt woord binnen het team. Gers is namelijk Rotterdams voor ‘gaaf’, ‘in’ of ‘geweldig’. Want met ruim twaalf jaar ervaring, durven we onze producten best zo te omschrijven.</p>
                                    <div class="advt-btn">
                                        <a href="" class="btn btn-dark">Lees meer over GewoonGers</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="projects-home">
                        <ul class="projects-home-list">
                            <li>
                                <div class="project-home-img">
                                    <div class="proj-img">
                                        <img src="static/images/project1.jpg" alt="Project" title="Project">
                                    </div>
                                    <div class="project-home-info">
                                        <p class="project-home-name">Woonhuis Oostvoorne</p>
                                        <div class="project-home-text">
                                            Stijlvolle GewoonGers deur met een klasieke verdeling van 3 1/3.
                                        </div>
                                        <div class="project-home-btn">
                                            <a href="" class="btn btn-yellow">Bekijk dit project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="project-home-img">
                                    <div class="proj-img">
                                        <img src="static/images/project1.jpg" alt="Project" title="Project">
                                    </div>
                                    <div class="project-home-info">
                                        <p class="project-home-name">Woonhuis Oostvoorne</p>
                                        <div class="project-home-text">
                                            Stijlvolle GewoonGers deur met een klasieke verdeling van 3 1/3.
                                        </div>
                                        <div class="project-home-btn">
                                            <a href="" class="btn btn-yellow">Bekijk dit project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="project-home-img">
                                    <div class="proj-img">
                                        <img src="static/images/project1.jpg" alt="Project" title="Project">
                                    </div>
                                    <div class="project-home-info">
                                        <p class="project-home-name">Woonhuis Oostvoorne</p>
                                        <div class="project-home-text">
                                            Stijlvolle GewoonGers deur met een klasieke verdeling van 3 1/3.
                                        </div>
                                        <div class="project-home-btn">
                                            <a href="" class="btn btn-yellow">Bekijk dit project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </section>

                //= parts/how-it-works.html

                <section class="testimonial wow slideInUp">
                    <div class="container">
                        <h5 class="testimonials-name name">Vraag het onze klanten</h5>
                        <div class="testimonials-carousel slick-full-shell">
                            <a href="#" class="slick-prev controls"></a>
                            <div class="slick-full">
                                <div class="slick-item">
                                    <div class="testimonal-holder">
                                        <div class="testimonial-text">
                                            <span class="quote-mark">“</span>Een echte eyecatcher in onze woonkamer. Ook het bestellen, plaatsen en contact met GewoonGers was uitstekend.<span class="quote-mark">”</span>
                                        </div>
                                        <p class="testimonial-sign">
                                            Ruud Coppers
                                        </p>
                                    </div>
                                </div>

                                <div class="slick-item">
                                    <div class="testimonal-holder">
                                        <div class="testimonial-text">
                                            <span class="quote-mark">“</span>Een echte eyecatcher in onze woonkamer. Ook het bestellen, plaatsen en contact met GewoonGers was uitstekend.<span class="quote-mark">”</span>
                                        </div>
                                        <p class="testimonial-sign">
                                            Ruud Coppers
                                        </p>
                                    </div>
                                </div>

                                <div class="slick-item">
                                    <div class="testimonal-holder">
                                        <div class="testimonial-text">
                                            <span class="quote-mark">“</span>Een echte eyecatcher in onze woonkamer. Ook het bestellen, plaatsen en contact met GewoonGers was uitstekend.<span class="quote-mark">”</span>
                                        </div>
                                        <p class="testimonial-sign">
                                            Ruud Coppers
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="slick-next controls"></a>
                        </div>
                    </div>

                </section>

                //= parts/quote.html
            </div>
            <div class="both"></div>
        </div>
        //= parts/footer.html
    </body>
</html>