<!doctype html>
<html class="no-js" lang="">
    //= parts/head.html
    <body class="news-item">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        	your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="layout">
            //= parts/header.html
            <section class="img-bg parallax section-top">
                <div class="image-top-paralax" style="background-image: url(static/images/project.jpg);">
                </div>
                <div class="shell">
                    <div class="title">
                        <div class="top-left"></div>
                        <div class="title-holder">
                            <p class="news-date">2 Augustus, 2017</p>
                            <h1>GewoonGers wand in de Rotterdamse rechtbank</h1>
                        </div>
                    </div>
                </div>
            </section>

            <style type="text/css">
                @media(max-width: 767px){
                    .image-top-paralax{
                        background-image: url(static/images/project-mobile.jpg)!important;
                    }
                }
            </style>
            <div class="wrapper">
                <div class="shell">
                    <div class="text">
                        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim felis, hendrerit sit amet lectus ac, interdum ultrices odio. Fusce in accumsan arcu. Etiam pharetra viverra velit, vel pretium tortor molestie quis. Sed gravida sollicitudin magna ut blandit.</strong></p>
     
                        <p>Donec sit amet nibh erat. Aliquam sit amet eleifend eros. Aliquam ultricies, ex vel varius molestie, massa leo ullamcorper purus, a interdum erat sem quis lacus. Pellentesque dignissim varius leo quis tempor. Donec imperdiet massa mi, eget viverra felis suscipit vitae. Morbi posuere justo aliquam, dignissim orci nec, vestibulum nisl. Etiam imperdiet ante in sapien mollis, id tempor arcu feugiat. Donec sed vehicula dolor, vel ultrices orci.</p>

                        <p>Pellentesque ullamcorper bibendum magna, eget consequat ante. Pellentesque tempor sollicitudin egestas. Ut in tellus ullamcorper, vestibulum felis at, maximus nisi. Praesent vel convallis enim. Vestibulum quis quam in mauris consequat rutrum nec in nulla. Proin tempus congue nulla gravida dapibus. Duis id tristique est, vel convallis elit. Vivamus scelerisque a libero scelerisque pharetra. Duis erat neque, molestie id odio non, fermentum interdum ex.</p>
                    </div>
                    <div class="project-photos">
                        <ul>
                            <li>
                                <img src="http://via.placeholder.com/940x627">
                            </li>
                            <li class="half">
                                <img src="http://via.placeholder.com/460x307">
                            </li>
                            <li class="half">
                                <img src="http://via.placeholder.com/460x307">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="height-news-item"></div>
            </div>
            <div class="both"></div>
        </div>
        //= parts/footer.html
    </body>
</html>