<!doctype html>
<html class="no-js" lang="">
    //= parts/head.html
    <body class="news">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        	your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="layout">
            //= parts/header.html

            <section class="section-top">
                <div class="shell">
                    <div class="title">
                        <div class="top-left"></div>
                        <div class="title-holder">
                            <h1>Laatste nieuws</h1>
                            <h2>Over GewoonGers</h2>
                        </div>
                    </div>
                </div>
            </section>

            <section class="news-shell">
                <div class="shell">
                    <ul class="news-lists">
                        <li>
                            <div class="new-inner">
                                <a href="news_item.html">
                                    <span class="new-img" style="background-image: url(static/images/news/new1.jpg)">
                                    </span>
                                </a>

                                <div class="new-info">
                                    <a href="news_item.html">
                                        <span class="new-name">
                                            GewoonGers verbouwt!
                                        </span>
                                    </a>
                                    <div class="new-description">
                                        In verband met de verbouwing is het momenteel lastig om u een goede indruk te geven van onze producten…
                                    </div>
                                </div>
                                <p class="new-date">14 augustus 2017</p>
                                <div class="new-btn">
                                    <a href="news_item.html" class="btn btn-outline">Lees verder</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="new-inner">
                                <a  href="news_item.html">
                                    <span class="new-img" style="background-image: url(static/images/news/new2.jpg)">
                                    </span>
                                </a>

                                <div class="new-info">
                                    <a href="news_item.html">
                                        <span class="new-name">
                                            De nieuwe barbecue sensatie Ortam BBQ goes Gers.
                                        </span>
                                    </a>
                                    <div class="new-description">
                                        Ortam BBQ is een nieuwe barbecue sensatie gevestigd aan de Hillelaan…
                                    </div>
                                </div>
                                <p class="new-date">14 augustus 2017</p>
                                <div class="new-btn">
                                    <a class="btn btn-outline" href="news_item.html">Lees verder</a>
                                </div>
                            </div>
                        </li>

                         <li>
                            <div class="new-inner">
                                <a href="news_item.html">
                                    <span class="new-img">
                                        <img src="static/images/news/new.png">
                                    </span>
                                </a>

                                <div class="new-info">
                                    <a href="news_item.html">
                                        <span class="new-name">
                                            Onze nieuwe identiteit is een feit!
                                        </span>
                                    </a>
                                    <div class="new-description">
                                         velit ac nunc hendrerit, ullamcorper luctus enim posuere. Integer sit amet dictum nisl. Suspendisse quis…
                                    </div>
                                </div>
                                <p class="new-date">14 augustus 2017</p>
                                <div class="new-btn">
                                    <a class="btn btn-outline" href="news_item.html">Lees verder</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="new-inner">
                                <a href="news_item.html">
                                    <span class="new-img" style="background-image: url(static/images/news/new2.jpg)">
                                    </span>
                                </a>

                                <div class="new-info">
                                    <a href="news_item.html">
                                        <span class="new-name">
                                            De nieuwe barbecue sensatie Ortam BBQ goes Gers.
                                        </span>
                                    </a>
                                    <div class="new-description">
                                        Ortam BBQ is een nieuwe barbecue sensatie gevestigd aan de Hillelaan…
                                    </div>
                                </div>
                                <p class="new-date">14 augustus 2017</p>
                                <div class="new-btn">
                                    <a class="btn btn-outline" href="news_item.html">Lees verder</a>
                                </div>
                            </div>
                        </li>

                         <li>
                            <div class="new-inner">
                                <a href="news_item.html">
                                    <span class="new-img">
                                        <img src="static/images/news/new.png">
                                    </span>
                                </a>

                                <div class="new-info">
                                    <a href="news_item.html">
                                        <span class="new-name">
                                            Onze nieuwe identiteit is een feit!
                                        </span>
                                    </a>
                                    <div class="new-description">
                                         velit ac nunc hendrerit, ullamcorper luctus enim posuere. Integer sit amet dictum nisl. Suspendisse quis…
                                    </div>
                                </div>
                                <p class="new-date">14 augustus 2017</p>
                                <div class="new-btn">
                                    <a class="btn btn-outline" href="news_item.html">Lees verder</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="new-inner">
                                <a href="news_item.html">
                                    <span class="new-img" style="background-image: url(static/images/news/new1.jpg)">
                                    </span>
                                </a>

                                <div class="new-info">
                                    <a href="news_item.html">
                                        <span class="new-name">
                                            GewoonGers verbouwt!
                                        </span>
                                    </a>
                                    <div class="new-description">
                                        In verband met de verbouwing is het momenteel lastig om u een goede indruk te geven van onze producten…
                                    </div>
                                </div>
                                <p class="new-date">14 augustus 2017</p>
                                <div class="new-btn">
                                    <a class="btn btn-outline" href="news_item.html">Lees verder</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="new-inner">
                                <a href="news_item.html">
                                    <span class="new-img" style="background-image: url(static/images/news/new1.jpg)">
                                    </span>
                                </a>

                                <div class="new-info">
                                    <a href="news_item.html">
                                        <span class="new-name">
                                            GewoonGers verbouwt!
                                        </span>
                                    </a>
                                    <div class="new-description">
                                        In verband met de verbouwing is het momenteel lastig om u een goede indruk te geven van onze producten…
                                    </div>
                                </div>
                                <p class="new-date">14 augustus 2017</p>
                                <div class="new-btn">
                                    <a class="btn btn-outline" href="news_item.html">Lees verder</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="new-inner">
                                <a href="news_item.html">
                                    <span class="new-img" style="background-image: url(static/images/news/new2.jpg)">
                                    </span>
                                </a>

                                <div class="new-info">
                                    <a href="news_item.html">
                                        <span class="new-name">
                                            De nieuwe barbecue sensatie Ortam BBQ goes Gers.
                                        </span>
                                    </a>
                                    <div class="new-description">
                                        Ortam BBQ is een nieuwe barbecue sensatie gevestigd aan de Hillelaan…
                                    </div>
                                </div>
                                <p class="new-date">14 augustus 2017</p>
                                <div class="new-btn">
                                    <a class="btn btn-outline" href="news_item.html">Lees verder</a>
                                </div>
                            </div>
                        </li>

                         <li>
                            <div class="new-inner">
                                <a href="news_item.html">
                                    <span class="new-img">
                                        <img src="static/images/news/new.png">
                                    </span>
                                </a>

                                <div class="new-info">
                                    <a href="news_item.html">
                                        <span class="new-name">
                                            Onze nieuwe identiteit is een feit!
                                        </span>
                                    </a>
                                    <div class="new-description">
                                         velit ac nunc hendrerit, ullamcorper luctus enim posuere. Integer sit amet dictum nisl. Suspendisse quis…
                                    </div>
                                </div>
                                <p class="new-date">14 augustus 2017</p>
                                <div class="new-btn">
                                    <a class="btn btn-outline" href="news_item.html">Lees verder</a>
                                </div>
                            </div>
                        </li>

                    </ul>



                    <div id="loader-shell">
                        <div class="loader">
                        </div>
                    </div>

                </div>
            </section>

            //= parts/quote.html
            <div class="both"></div>
        </div>
        //= parts/footer.html
    </body>
</html>