<!doctype html>
<html class="no-js" lang="">
    //= parts/head.html
    <body class="offerte">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        	your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="layout">
            //= parts/header.html

            <section class="section-top">
                <div class="container">
                    <div class="shell">
                        <div class="title">
                            <div class="top-left"></div>
                            <div class="title-holder">
                                <h1>Offerte aanvragen</h1>
                            </div>
                        </div>
                        <div class="content">
                            <p>Dank u voor uw interesse in ons product. Vul hier geheel vrijblijvend uw gegevens in. Onze specialisten zullen spoedig contact met u opnemen om de gewenste mogelijkheden door te nemen en u te voorzien van vakkundig advies.</p>

                            <p>Heeft u zelf al een idee in gedachten? Dat is mooi! Upload uw idee door middel van de onderstaande WeTransfer knop en wij zullen u voorzien van een passende offerte met advies.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="upload-shell  wow slideInUp">
                <div class="shell">
                    <div class="upload">
                        <img src="static/images/webtransfer.png">
                        <div class="upload-btn">
                            <a href="" class="btn btn-dark">upload bestanden hier</a>
                        </div>
                    </div>
                </div>
            </section>


            //= parts/form.html

            
            <div class="both"></div>
        </div>
        //= parts/footer.html
    </body>
</html>