<!doctype html>
<html class="no-js" lang="">
    //= parts/head.html
    <body class="over">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        	your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="layout">
            //= parts/header.html

            <section class="section-top">
                <div class="container">
                    <div class="shell">
                        <div class="title">
                            <div class="top-left"></div>
                            <div class="title-holder">
                                <h1>Over GewoonGers</h1>
                            </div>
                        </div>
                        <div class="content">
                            <p>GewoonGers begeleidt uw project van begin tot eind. Van schetsontwerp tot realisatie. Voor alles heeft u één aanspreekpunt en dat zijn wij. Al sinds 2005 zijn wij actief op de afbouwmarkt en sinds 2016 zijn wij ook actief op de particuliere markt. Deze ervaring gebruiken wij in ons werk waarbij wij streven naar tevreden en gelukkige opdrachtgevers, zowel particulier als zakelijk.</p>
                       
                            <p>De moderne productiemethoden die wij hanteren werken mee aan het realiseren van maatwerk tot op de millimeter nauwkeurig. Voor advies op maat kunt u altijd terecht bij onze specialisten. Uw product wordt op locatie vanuit losse onderdelen opgebouwd door de speciaal opgeleide monteurs van GewoonGers.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="slider">
                <div class="container-slider">
                    <div class="slick-full-shell">
                        <a href="#" class="slick-prev controls"></a>
                        <div class="slick-full">
                            <div class="slick-item">
                                <div class="slide" style="background-image: url(static/images/slider/slide1.jpg);"></div>
                            </div>

                            <div class="slick-item">
                                <div class="slide" style="background-image: url(static/images/slider/slide2.jpg);"></div>
                            </div>

                            <div class="slick-item">
                                <div class="slide" style="background-image: url(static/images/slider/slide3.jpg);"></div>
                            </div>
                        </div>
                        <a href="#" class="slick-next controls"></a>
                    </div>
                </div>
            </section>

            <section class="info-holder">
                <div class="shell">
                    <div class="row">
                        <div class="col-mb-12 col-xs-5 col-sm-6">
                            <div class="info">
                                <h5 class="info-name">Onze visie</h5>
                            </div>
                        </div>
                        <div class="col-mb-12 col-xs-7 col-sm-6">
                            <div class="info-text">
                                <p>Het charisma en de charme van vroeger combineren met de technologie van nu. Als het gaat om combineren en ontwerpen willen wij u zo vrij mogelijk laten!</p>
                                <p>GewoonGers vintage puien is onderdeel van <a href="">ESD systeemwanden</a> te Vlaardingen.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            

            //= parts/how-it-works.html

            <section class="advantages-holder">
                <div class="container">
                    <div class="advantages">
                        <div class="shell">
                            <div class="row">
                                <ul class="advantages-list">
                                    <li class="col-sm-4">
                                        <div class="advantage-ico">
                                            <i class="material-icons">vertical_align_center</i>
                                        </div>
                                        <p class="advantage-name">Slanke profielen</p>
                                        <p>Onze profielen zijn met circa 43mm erg slank. Toch kunnen ze zorgen voor een chique of juist hele stoere uitstraling. </p>
                                    </li>

                                    <li class="col-sm-4">
                                        <div class="advantage-ico">
                                            <i class="material-icons">border_style</i>
                                        </div>
                                        <p class="advantage-name">Persoonlijk opmaat</p>
                                        <p>De moderne productiemethoden die wij hanteren werken mee aan het realiseren van maatwerk tot op de millimeter nauwkeurig. </p>
                                    </li>

                                    <li class="col-sm-4">
                                        <div class="advantage-ico">
                                            <i>12</i>
                                        </div>
                                        <p class="advantage-name">12 jaar ervaring</p>
                                        <p>Al sinds 2005 zijn wij actief op de afbouwmarkt en sinds 2016 zijn wij ook actief op de particuliere markt.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            

            //= parts/quote.html
            <div class="both"></div>
        </div>
        //= parts/footer.html
    </body>
</html>