<!doctype html>
<html class="no-js" lang="">
    //= parts/head.html
    <body class="productie">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        	your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="layout">
            //= parts/header.html

            <section class="section-top">
                <div class="container">
                    <div class="shell">
                        <div class="title">
                            <div class="top-left"></div>
                            <div class="title-holder">
                                <h1>Productie & montage</h1>
                            </div>
                        </div>
                        <div class="content">                            
                            <p><strong>Van schets tot afwerking: alles onder één dak</strong>. De hele productie van GewoonGers vindt plaats bij GewoonGers. Dat is niet alleen praktisch - drie stappen en je staat in de fabriek - het heeft ook als voordeel dat we de kwaliteit die we beloven, waarborgen. En dat we elk product op de afgesproken datum opleveren. Wat er ook gebeurt. </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="slider">
                <div class="container">
                    <div class="container-slider">
                        <div class="slick-full-shell">
                            <a href="#" class="slick-prev controls"></a>
                            <div class="slick-full">
                                <div class="slick-item">
                                    <div class="slide" style="background-image: url(static/images/slider/slide1.jpg);"></div>
                                </div>

                                <div class="slick-item">
                                    <div class="slide" style="background-image: url(static/images/slider/slide2.jpg);"></div>
                                </div>

                                <div class="slick-item">
                                    <div class="slide" style="background-image: url(static/images/slider/slide3.jpg);"></div>
                                </div>
                            </div>
                            <a href="#" class="slick-next controls"></a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="info-holder">
                <div class="shell">
                    <div class="row">
                        <div class="col-mb-12 col-xs-5 col-sm-6">
                            <div class="info">
                                <h5 class="info-name">Onze productie begint bij...<br/>het einde</h5>
                            </div>
                        </div>
                        <div class="col-mb-12 col-xs-7 col-sm-6">
                            <div class="info-text">
                                <p>Echt waar: in ons planprogramma voeren we eerst de einddatum in. Daarna rekenen we terug. Zo weten we precies wat wanneer moet gebeuren. We leveren dus altijd op tijd. Misschien komt dat toch door onze Rotterdamse roots. Geen woorden, maar daden.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="methods">
                <div class="shell">
                    <p class="name">Dit is onze werkwijze:</p>

                    <ul class="methods-lists">
                        <li>
                            <div class="method-shell">
                                <div class="methods-ico">
                                    <span>1</span>
                                </div>
                                <div class="methods-outer">
                                    <div class="methods-data">
                                        <p class="methods-name">First things first: een offerte.</p>
                                        <div class="methods-text">Of je nu langskomt in onze showroom of online je schetsen, afmetingen en foto’s uploadt: we stellen zo snel mogelijk een offerte op waarin we jouw wensen uitwerken.</div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="method-shell">
                                <div class="methods-ico">
                                    <span>2</span>
                                </div>
                                <div class="methods-outer">
                                    <div class="methods-data">
                                        <p class="methods-name">Inmeten maar!</p>
                                        <div class="methods-text">Ga je akkoord? Dan maakt een technisch specialist een afspraak met je om de pui of puien ter plekke in te meten. </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="method-shell">
                                <div class="methods-ico">
                                    <span>3</span>
                                </div>
                                <div class="methods-outer">
                                    <div class="methods-data">
                                        <p class="methods-name">Tekenen, tekenen, tekenen.</p>
                                        <div class="methods-text">Na het inmeten, gaan we aan de slag met het tekenwerk. We sturen je aansluitend een productietekening ter goedkeuring.</div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="method-shell">
                                <div class="methods-ico">
                                    <span>4</span>
                                </div>
                                <div class="methods-outer">
                                    <div class="methods-data">
                                        <p class="methods-name">Van tekening tot werkelijkheid.</p>
                                        <div class="methods-text">De productie start! We bewerken de profielen en maken het glas op maat. Het planprogramma zorgt ervoor dat we altijd de afgesproken montagedatum halen.</div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="method-shell">
                                <div class="methods-ico">
                                    <span>5</span>
                                </div>
                                <div class="methods-outer">
                                    <div class="methods-data">
                                        <p class="methods-name">Ding, dong: daar is je vintage pui.</p>
                                        <div class="methods-text">Op de afgesproken datum staan onze monteurs voor de deur om de puien te plaatsen. Geen zorgen over krappe liften of trappenhuizen: we brengen losse onderdelen mee.</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="animateTop wow slideInUp">

                <section class="quality">
                    <div class="shell">
                        <p class="name">Duurzaam en demontabel</p>
                        <p> In tegenstelling tot de meeste puien, gebruiken wij aluminium in plaats van staal. Om drie redenen: dit hoogwaardige materiaal met krasvaste afwerking is niet van staal te onderscheiden, gaat langer mee (want: roest niet) én is demontabel. Geen gedoe dus met transport. GewoonGers past dus werkelijk in ieder interieur. Ook qua look en feel: of je nu houdt van klassiek of hypermodern. Inspiratie nodig?</p>
                        <div class="quality-btn">
                            <a href="" class="btn btn-yellow">bekijk onze projecten</a>
                        </div>
                    </div>
                </section>

                <section class="excellence">
                    <div class="container">
                        <div class="excellence-inner">
                            <div class="shell">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="excellence-name">
                                            <p class="name">Meer dan 100 gerse kleuren</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="excellence-text">De standaardkleur die we gebruiken is antraciet (RAL 7021) met een structuur en matte finish. Liever een andere kleur? Kies uit de meer dan 100 RAL-kleuren.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>


            //= parts/quote.html
            <div class="both"></div>
        </div>
        //= parts/footer.html
    </body>
</html>