<!doctype html>
<html class="no-js" lang="">
    //= parts/head.html
    <body class="project">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        	your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="layout">
            //= parts/header.html
            <section class="img-bg parallax section-top">
                <div class="image-top-paralax" style="background-image: url(static/images/project.jpg);">
                </div>

                <div class="shell">
                    <div class="title">
                        <div class="top-left"></div>
                        <div class="title-holder">
                            <h1>Woonhuis Rijswijk</h1>
                            <h2>Rijswijk</h2>
                        </div>
                    </div>
                </div>
            </section>

            <style type="text/css">
                @media(max-width: 767px){
                    .image-top-paralax{
                        background-image: url(static/images/project-mobile.jpg)!important;
                    }
                }
            </style>
            <div class="wrapper">
                <div class="shell">
                    <div class="text">
                        <p>Quisque interdum lobortis nibh quis malesuada. Sed nec nisi quis tellus ultrices suscipit. Nulla sed sapien vitae est Mauris facilisis turpis nec mauris tincidunt, sed porta velit iaculis. In lorem nibh, placerat a maximus non, feugiat non ex. Nunc ultrices tincidunt libero quis rutrum. </p>
                    </div>
                    <div class="project-photos">
                        <ul>
                            <li>
                                <img src="http://via.placeholder.com/940x627">
                            </li>
                            <li class="half">
                                <img src="http://via.placeholder.com/460x307">
                            </li>
                            <li class="half">
                                <img src="http://via.placeholder.com/460x307">
                            </li>
                            <li>
                                <img src="http://via.placeholder.com/940x627">
                            </li>
                            <li>
                                <img src="http://via.placeholder.com/940x627">
                            </li>
                        </ul>
                    </div>
                </div>

                <section class="testimonial wow slideInUp">
                    <div class="container">
                        <div class="testimonials-carousel slick-full-shell">
                            <a href="#" class="slick-prev controls"></a>
                            <div class="slick-full">
                                <div class="slick-item">
                                    <div class="testimonal-holder">
                                        <div class="testimonial-text">
                                            <span class="quote-mark">“</span>Een echte eyecatcher in onze woonkamer. Ook het bestellen, plaatsen en contact met GewoonGers was uitstekend.<span class="quote-mark">”</span>
                                        </div>
                                        <p class="testimonial-sign">
                                            Ruud Coppers
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="slick-next controls"></a>
                        </div>
                    </div>
                </section>

                <section class="related-projects">
                    <div class="shell">
                        <p class="related-projects-name">Gerelateerde projecten</p>
                        <ul class="related-projects-lists">
                            <li>
                                <a href="">
                                    <span class="related-project-img">
                                        <img src="http://via.placeholder.com/300x200">
                                    </span>
                                    <span class="related-name">Woonhuis Rijswijk</span>
                                    <span class="related-intro">Rijswijk</span>
                                    <span class="btn btn-outline">Bekijk dit project</span>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <span class="related-project-img">
                                        <img src="http://via.placeholder.com/300x200">
                                    </span>
                                    <span class="related-name">Woonhuis Westpoort 3</span>
                                    <span class="related-intro">Amsterdam</span>
                                    <span class="btn btn-outline">Bekijk dit project</span>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <span class="related-project-img">
                                        <img src="http://via.placeholder.com/300x200">
                                    </span>
                                    <span class="related-name">Kantoor Chooseday Interior Design</span>
                                    <span class="related-intro">Delft</span>
                                    <span class="btn btn-outline">Bekijk dit project</span>
                                </a>
                            </li>
                        </ul>
                        <div class="related-project-btn">
                            <a class="btn btn-dark">Bekijk alle projecten</a>
                        </div>
                    </div>
                </section>
                //= parts/how-it-works.html
                //= parts/quote.html
            </div>



            <div class="both"></div>
        </div>
        //= parts/footer.html
    </body>
</html>