<!doctype html>
<html class="no-js" lang="">
    //= parts/head.html
    <body class="referenties">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        	your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="layout">
            //= parts/header.html

            <section class="section-top">
                <div class="shell">
                    <div class="title">
                        <div class="top-left"></div>
                        <div class="title-holder">
                            <h1>Referenties</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="referenties-new-out">
                <div class="container">
                    <div class="referenties-new">
                        <div class="referenties-new-img">
                            <img src="static/images/van-beuningenstraat-rotterdam-2.jpg" alt="Project" title="Project" >
                            <img src="static/images/van-beuningenstraat-rotterdam-2-mobile.jpg" alt="Project" title="Project" class="mobile-img">
                        </div>
                        <div class="referenties-new-info">
                            <p class="referenties-new-name">Woonhuis Oostvoorne</p>
                            <div class="referenties-new-text">
                                Stijlvolle GewoonGers deur met een klasieke verdeling van 3 1/3.
                            </div>
                            <div class="referenties-new-btn">
                                <a href="" class="btn btn-yellow">Bekijk dit project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="filter-shell">
                <div class="shell">
                    <div class="filters">
                        <p class="name-filter"><i class="material-icons">filter_list</i> Filter</p>
                        <div class="filter-active-mobile">Alles</div>
                        
                        <div class="filters-lists-inner">
                            <ul class="filter-lists">
                                <li class="filter-active">
                                    <a href="" class="filter-item" data-filter="alles">Alles</a>
                                </li>
                                <li>
                                    <a href="" class="filter-item" data-filter="draai deure">Draai deuren</a>
                                </li>
                                <li>
                                    <a href="" class="filter-item" data-filter="klap deuren">Klap deuren</a>
                                </li>
                                <li>
                                    <a href="" class="filter-item" data-filter="matglas">Matglas</a>
                                </li>
                                <li>
                                    <a href="" class="filter-item" data-filter="woningen">Woningen</a>
                                </li>
                                <li>
                                    <a href="" class="filter-item" data-filter="bedrijven">Bedrijven</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="referenties-lists" id="referenties-lists">
                        <!-- <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties1.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Woonhuis Rijswijk 2
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Rijswijk
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties2.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Café Bierboetique
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Rotterdam
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties3.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Woonhuis Centrum
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Rotterdam
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties4.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Woonhuis Rijswijk
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Rijswijk
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties5.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Woonhuis Westpoort 3
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Amsterdam
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties6.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Kantoor Chooseday Interior Design
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Delft
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties7.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Woonhuis Venlostraat 4
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Venlo
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties8.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Woonhuis Westelijke Eilanden
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Amsterdam
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties9.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Kantoor Bakerstreet Utrecht
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Utrecht
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties10.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Woonhuis Centrum
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Rotterdam
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties11.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Kantoor Chooseday Interior Design
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Delft
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="referenties-inner">
                                <a href="news_item.html">
                                    <span class="referenties-img" style="background-image: url(static/images/referenties/referenties12.jpg)">
                                    </span>
                                </a>

                                <div class="referenties-info">
                                    <a href="news_item.html">
                                        <span class="referenties-name">
                                            Woonhuis Rijswijk 2
                                        </span>
                                    </a>
                                    <div class="referenties-description">
                                        Rijswijk
                                    </div>
                                </div>
                                <div class="referenties-btn">
                                    <a href="news_item.html" class="btn btn-outline">Bekijk dit project</a>
                                </div>
                            </div>
                        </li> -->

                    </ul>



                    <div id="loader-shell">
                        <div class="loader">
                        </div>
                    </div>

                </div>
            </section>

            //= parts/quote.html
            <div class="both"></div>
        </div>
        //= parts/footer.html
    </body>
</html>