.news-item{
  .section-top{
    .shell{
      height: 100%;
    }
  }
  .title{
    position:relative;
    height:100%;
    h1{
        text-align: left;
        margin-bottom: 0;
    }
    .title-holder{
      display: inline-block;
      vertical-align: bottom;
      width:98.6%;
      @media(max-width:767px){
        width: 98%;
      }
    }
    .top-left{
      vertical-align: bottom;
      height:100%;
      display: inline-block;
      width:0;
      letter-spacing: -2px;
      line-height: 0;
      font-size: 0;
    }
  }
  .img-bg,
  .image-top-paralax{
    max-height: 432px;
    @media(max-width:767px){
      max-height: 298px;
    }
    .shell{
      max-width: 834px;
    }
  }
  .shell{
    .text{
      @media(min-width: 768px){
        padding-top: 48px;
        padding-bottom: 10px;
      }
    }
  }
  .section-top{
    padding-bottom:33px;
  }
}
