<!-- Head -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gewoon Gers</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="stylesheet" href="static/css/app.css">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi4hy2uaZjTYRY473W5d5Pbqj-9gRMttc&language=nl">
    </script>
    <script  type="text/javascript" src="static/js/app.js"></script>
</head>
<!-- end Head -->