//video pulse
/*animation*/
@keyframes video-pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.07)
  }
  100% {
    transform: scale(1)
  }
}

@-moz-keyframes video-pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.07)
  }
  100% {
    transform: scale(1)
  }
}

@-o-keyframes video-pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.07)
  }
  100% {
    transform: scale(1)
  }
}

@-webkit-keyframes video-pulse {
  0% {
    -webkit-transform: scale(1)
  }
  50% {
    -webkit-transform: scale(1.07)
  }
  100% {
    -webkit-transform: scale(1)
  }
}

/*end animation*/
//end video pulse